<nav class="navbar">

    <div class="container-navbar">
        <div class="p-grid">
            <div class="p-col-12">
                <a href="javascript:;" class="navbar-toggle" (click)="exibindoMenu = !exibindoMenu"><i class="pi pi-bars"></i></a>
            </div>
        </div>
    </div>

    <ul class="navbar-menu" [hidden]="!exibindoMenu">
        <li class="navbar-usuario">G4F Soluções</li>
        <li class="navbar-menuitem" routerLinkActive="ativo"><a routerLink="/lancamentos">Usuários</a></li>

        <li class="navbar-menuitem"><a href="#">Logout</a></li>
    </ul>
</nav>